.home-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding: 20px;
}

.home-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 40px;
  text-align: center;
}

.clothes-img {
  width: 60%;
}

.description {
  font-family: 'Roboto';
  font-size: 14px;
  color: #64748b;
  text-align: center;
}

.shop-now-btn {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #0967d2;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

.clothes-img-lg {
  display: none;
}

@media screen and (min-width: 768px) {
  .clothes-img {
    display: none;
  }

  .home-bg {
    flex-direction: row;
  }

  .home-container {
    width: 60%;
    justify-content: flex-start;
  }

  .clothes-img-lg {
    display: flex;
    width: 30%;
    height: 300px;
  }

  .home-container {
    align-items: flex-start;
  }

  .home-heading {
    text-align: start;
    margin: 0;
    margin-bottom: 15px;
  }

  .description {
    text-align: start;
  }
}
